a{
    color: black;
    text-decoration: none;
  }
  /* .accordion-content {
    max-height: 300px; 
    overflow-y: auto;
  } */
  .accordion-body{
    text-align: center;
    background-color: rgb(188, 230, 160);
  }
  button{
    border: none;
    background-color: rgb(188, 230, 160);
  }
  .accordion-button{
    margin-top:20px;
    background-color:#96b7be;   
  }
  .accordion-collapse input{
    border: none;
    background-color: rgb(188, 230, 160);;
  }