<footer class="bg-dark text-center text-lg-start pt-4" >
  <!-- Grid container -->
  <div class="container">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Cinepedia</h5>

        <p>
          By offering a wealth of data and insights, this movie rating site empowers users to make informed and confident decisions about their movie-watching habits, ensuring that they get the most value and enjoyment out of their investment. 
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0" id="part2">
        <h5 class="text-uppercase mb-0">Contact Us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#" class="bi bi-facebook"> Facebook</a>
          </li>
          <li>
            <a href="#" class="bi bi-twitter"> Twitter</a>
          </li>
          <li>
            <a href="#" class="bi bi-instagram"> Instagram</a>
          </li>
          <li>
            <a href="#" class="bi bi-linkedin"> LinkedIn</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Cinepedia
  </div>
  <!-- Copyright -->
</footer>

